{% assign ext = include.ext | downcase | replace: '.', '' %}
{% assign icon = 'page_white' %}
{% assign fatcow_file_extension_icons = '3gp,7z,ace,ai,aif,aiff,amr,asf,asx,bat,bin,bmp,bup,cab,cbr,cda,cdl,cdr,chm,dat,divx,dll,dmg,doc,dss,dvf,dwg,eml,eps,exe,fla,flv,gif,gz,hqx,htm,html,ifo,indd,iso,jar,jpeg,jpg,lnk,log,m4a,m4b,m4p,m4v,mcd,mdb,mid,mov,mp2,mp4,mpeg,mpg,msi,mswmm,ogg,pdf,png,pps,ps,psd,pst,ptb,pub,qbb,qbw,qxd,ram,rar,rm,rmvb,rtf,sea,ses,sit,sitx,ss,swf,tgz,thm,tif,tmp,torrent,ttf,txt,vcd,vob,wav,wma,wmv,wps,xls,xpi,zip' | split: ',' %}

{% if fatcow_file_extension_icons contains ext %}
    {% assign icon = 'file_extension_' | append: ext %}
{% else %}
    {% case ext %}
        {% comment %} --- Documents & Text --- {% endcomment %}
        {% when 'md','nfo','err' %}
            {% assign icon = 'page_white_text' %}
        {% when 'docx','odt' %}
            {% assign icon = 'page_white_word' %}
        {% when 'xlsx','csv','ods','tsv' %}
            {% assign icon = 'page_white_excel' %}
        {% when 'ppt','pptx','odp' %}
            {% assign icon = 'page_white_powerpoint' %}
        {% when 'epub','mobi','azw','cbz' %}
            {% assign icon = 'book' %}

        {% comment %} --- Images & Design --- {% endcomment %}
        {% when 'webp','ico','tiff' %}
            {% assign icon = 'page_white_picture' %}
        {% when 'svg' %}
            {% assign icon = 'page_white_vector' %}
        {% when 'xcf' %}
            {% assign icon = 'page_white_paint' %}

        {% comment %} --- Web & Code --- {% endcomment %}
        {% when 'shtml','xhtml' %}
            {% assign icon = 'page_white_code' %}
        {% when 'css','less','sass','scss' %}
            {% assign icon = 'page_white_code' %}
        {% when 'js','ts','jsx','tsx','json','xml','yaml','yml' %}
            {% assign icon = 'page_white_code' %}
        {% when 'php','phtml' %}
            {% assign icon = 'page_white_php' %}
        {% when 'rb' %}
            {% assign icon = 'page_white_ruby' %}
        {% when 'c','h' %}
            {% assign icon = 'page_white_c' %}
        {% when 'cpp','cc','cxx','hpp' %}
            {% assign icon = 'page_white_cplusplus' %}
        {% when 'cs' %}
            {% assign icon = 'page_white_csharp' %}
        {% when 'java','class' %}
            {% assign icon = 'page_white_cup' %}
        {% when 'sln','csproj','vbproj','vb' %}
            {% assign icon = 'page_white_visualstudio' %}
        {% when 'as' %}
            {% assign icon = 'page_white_actionscript' %}
        {% when 'cfm','cfc' %}
            {% assign icon = 'page_white_code' %}

        {% comment %} --- System, Executables & Configs --- {% endcomment %}
        {% when 'cmd','ps1','reg' %}
            {% assign icon = 'application_xp' %}
        {% when 'app','pkg','command' %}
            {% assign icon = 'application_osx' %}
        {% when 'sh','bash','zsh' %}
            {% assign icon = 'page_white_tux' %}
        {% when 'sys','so','dylib','ini','conf','cfg','env' %}
            {% assign icon = 'page_white_gear' %}

        {% comment %} --- Archives & Disk Images --- {% endcomment %}
        {% when 'tar','bz2','xz' %}
            {% assign icon = 'page_white_compress' %}
        {% when 'img','vdi','vmdk','qcow2','cue','mds' %}
            {% assign icon = 'page_white_cd' %}

        {% comment %} --- Audio & Video --- {% endcomment %}
        {% when 'mp3','flac','aac','midi','webm' %}
            {% assign icon = 'music' %}
        {% when 'avi','mkv' %}
            {% assign icon = 'film' %}

        {% comment %} --- Databases --- {% endcomment %}
        {% when 'sql','db','sqlite','sqlite3','accdb','frm','ibd' %}
            {% assign icon = 'page_white_database' %}

        {% comment %} --- Misc Useful Types --- {% endcomment %}
        {% when 'otf','woff','woff2','eot' %}
            {% assign icon = 'font' %}
        {% when 'vcf' %}
            {% assign icon = 'vcard' %}
        {% when 'ics' %}
            {% assign icon = 'calendar' %}
        {% when 'rss','atom' %}
            {% assign icon = 'feed' %}
    {% endcase %}
{% endif %}
{{- icon -}}